
#page{
	border:5px solid #2C2C2C;
	height:800px;
}

#presence img{
	margin:10px 0 0 0;
}


/* Customize Bootstrap.css */ 
.navbar-inner{ 
	/*background-image: -webkit-linear-gradient(top, #fff, #BBB);
	background-image: -o-linear-gradient(top, #fff, #BBB);
	background-image: linear-gradient(top, #fff, #BBB);
	*/
	/*background-image:none;
	background-color: #2C2C2C;/*#0B3640;/*#008a7b; /*#2C2C2C;*/
	
  /*-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-box-border-radius:0;
	-moz-box-border-radius:0;
	border-radius:0;
	*/
}

.navbar .nav > li{
	margin:5px 0;
}
.navbar .nav > li > a{
  color:#fff;
}

.navbar .nav > li > a.logged-name {
  font-weight:bold;
}

.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
	border-top-color: #444;
	border-bottom-color: #444;
}
.navbar .nav > li.action-menu {
  padding:0;
  margin:0;
  height:24px;
}
.navbar .nav > li.action-menu > a {
	padding: 14px 10px 11px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #222;
	margin:0 20px 0 0;
	height:100%;
	font-weight:bold;
	font-size:14px;
}
.navbar .nav > li.action-menu > ul > li > a{
	color:#fff;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color:#FF9650;
	color: #000;
}



/***** BRAND ****/

a.brand{
    background:transparent url('../img/logoSimple2.png') no-repeat center left ;
    width:120px;
}

/*** dropdown list for action-menu ***/
.navbar .nav > li.action-menu > ul.dropdown-menu:before {
  border-top:0px;
  border-left:13px solid transparent;
  border-right:13px solid transparent;
  border-bottom:13px solid #444;
  margin-top:-6px;
  right: 50px;
}
.navbar .nav > li.action-menu > ul.dropdown-menu:after {
  border-top:0px;
  border-left:13px solid transparent;
  border-right:13px solid transparent;
  border-bottom:13px solid #333;
  margin-top:-7px;
  right: 50px;
}

.navbar .nav > li.action-menu > ul.dropdown-menu {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top:27px;
    width:200px;
    min-height:200px;
    
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(top, #333, #222);
    background-image: -ms-linear-gradient(top, #333, #222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
    background-image: -webkit-linear-gradient(top, #333, #222);
    background-image: -o-linear-gradient(top, #333, #222);
    background-image: linear-gradient(top, #333, #222);

}
.navbar .nav > li.action-menu > ul.dropdown-menu > li > h2 {
    margin : 10px 20px;
    font-size:14px;
}
.navbar .nav > li.action-menu > ul.dropdown-menu > li > a {
    font-size:13px;
    margin-right:15px;
    margin-left:10px;
}
.navbar .nav > li.action-menu > ul.dropdown-menu > li > a.action-button{
    font-weight:bold;
    margin-top:7px;
    margin-bottom:5px;
}
.navbar .nav > li.action-menu > ul.dropdown-menu > li > a.action-button:hover{
    background-color: #FF9650;
    color:#000;
    
}
.navbar .nav > li.action-menu > ul.dropdown-menu > li.divider{
    border-bottom:1px solid #444;
    height:0;
}

/*************************************/




#login {
	margin-left: auto;
	margin-right: auto ;
	width: 600px;
	color: #ccc;
	font-size: 12px;
	margin-top: 50px;
	width: 465px;
}

#login h3 {
	border: solid 1px #000000;
	padding: 10px 0px 10px 20px;
	background-color: #FF9650;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
}

#login form {
	background-color: #fff;
	border: solid 1px #d8d8d8;
	padding: 20px 20px 40px 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#login form input {
	width: 400px;
	font-size: 20px;
	padding: 10px;
}

#login  .control-label {
	font-size: 14px;
	color: black;
}

ul {
    list-style: none;
}



.widget-header {
    background-color: #2C2C2C;
    border: 1px solid #D5D5D5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.widget-header h3 {
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    left: 10px;
    line-height: 18px;
    margin-right: 3em;
    position: relative;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    top: 2px;
}




.widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 5px 5px 5px 5px;
    padding: 20px 15px 15px;
}

.widget-content ul {
    margin-left: 0;
}

.widget-nopad .widget-content {
    padding: 0;
}

.news-items li {
    border-bottom: 1px dotted #CCCCCC;
    display: table;
    margin-bottom: 1em;
    padding-left: 5px;
    padding-top: 0;
}


.news-item-date {
    text-align: right;
    vertical-align: middle;
    width: 40px;
}

.news-item-day {
    color: #888888;
    display: block;
    font-size: 24px;
    margin-bottom: 0.25em;
}

.new-item-time{
    color: #888888;
    display: block;
    font-size:10px;
}

.news-item-date {
    text-align: left;
    float:left;
    padding-left: 10px;
    padding-top: 20px;
}

.news-item-month {
    color: #888888;
    display: block;
    font-size: 12px;
    font-weight: 600;
    padding-right: 1px;
}

.news-item-detail p{
  width: 350px;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings-white.png");
    margin-left: 15px;
    margin-top: 2px;

}

#projecthome .row{
  padding: 20px 0px 40px 250px;
}

#projecthome .span4{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    background-color: #bbbbbb;
    text-align: center;
    height: 200px;
    width: 200px;
}

#projecthome h2{
    color: #fefefe;
    margin-top: 40%;
}


.modal{
  width: 90%;
  left: 25%;
} 
 
.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float: right;
  margin-right: 15px;
}

#newproject .btn{
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.75);
}

#newproject .dropdown-menu{
    display : inline;
}

#newproject select {
    width: 160px;
}

.newproject{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#btnnewproject li {
    text-align: center;
}