.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}


#page{
	border:5px solid #2C2C2C;
	height:800px;
}

#presence img{
	margin:10px 0 0 0;
}


/* Customize Bootstrap.css */ 
.navbar-inner{ 
	/*background-image: -webkit-linear-gradient(top, #fff, #BBB);
	background-image: -o-linear-gradient(top, #fff, #BBB);
	background-image: linear-gradient(top, #fff, #BBB);
	*/
	/*background-image:none;
	background-color: #2C2C2C;/*#0B3640;/*#008a7b; /*#2C2C2C;*/
	
  /*-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-box-border-radius:0;
	-moz-box-border-radius:0;
	border-radius:0;
	*/
}

.navbar .nav > li{
	margin:5px 0;
}
.navbar .nav > li > a{
  color:#fff;
}

.navbar .nav > li > a.logged-name {
  font-weight:bold;
}

.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
	border-top-color: #444;
	border-bottom-color: #444;
}
.navbar .nav > li.action-menu {
  padding:0;
  margin:0;
  height:24px;
}
.navbar .nav > li.action-menu > a {
	padding: 14px 10px 11px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #222;
	margin:0 20px 0 0;
	height:100%;
	font-weight:bold;
	font-size:14px;
}
.navbar .nav > li.action-menu > ul > li > a{
	color:#fff;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color:#FF9650;
	color: #000;
}



/***** BRAND ****/

div.login-logo{
	float:right;
	margin-top:3px;
	background:transparent url('../img/logoSimple2.png') no-repeat center left;
	width:160px;
	height:40px;
}

a.brand{
    background:transparent url('../img/logoSimple2.png') no-repeat center left ;
    width:120px;
}


/*** dropdown list for action-menu ***/
.navbar .nav > li.action-menu > ul.dropdown-menu:before {
  border-top:0px;
  border-left:13px solid transparent;
  border-right:13px solid transparent;
  border-bottom:13px solid #444;
  margin-top:-6px;
  right: 50px;
}
.navbar .nav > li.action-menu > ul.dropdown-menu:after {
  border-top:0px;
  border-left:13px solid transparent;
  border-right:13px solid transparent;
  border-bottom:13px solid #333;
  margin-top:-7px;
  right: 50px;
}

.navbar .nav > li.action-menu > ul.dropdown-menu {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top:27px;
    width:200px;
    min-height:200px;
    
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(top, #333, #222);
    background-image: -ms-linear-gradient(top, #333, #222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
    background-image: -webkit-linear-gradient(top, #333, #222);
    background-image: -o-linear-gradient(top, #333, #222);
    background-image: linear-gradient(top, #333, #222);

}
.navbar .nav > li.action-menu > ul.dropdown-menu > li > h2 {
    margin : 10px 20px;
    font-size:14px;
}
.navbar .nav > li.action-menu > ul.dropdown-menu > li > a {
    font-size:13px;
    margin-right:15px;
    margin-left:10px;
}
.navbar .nav > li.action-menu > ul.dropdown-menu > li > a.action-button{
    font-weight:bold;
    margin-top:7px;
    margin-bottom:5px;
}
.navbar .nav > li.action-menu > ul.dropdown-menu > li > a.action-button:hover{
    background-color: #FF9650;
    color:#000;
    
}
.navbar .nav > li.action-menu > ul.dropdown-menu > li.divider{
    border-bottom:1px solid #444;
    height:0;
}

/*************************************/



/********************LEFT MENU********************/

#left-menu{
    /*position:fixed;*/
}

/*************************************/




/*****************START LOGIN********************/

#login-page {
    background-color: #343537;
    padding-top:100px;
    color: white;
    
}

label#login.checkbox {
  margin-left: 9px;

}

label#login.checkbox input  {
    float: left;
}


#login-page .loginForm {
  margin-top: 10px;
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
}

#login-page input[type="text"], #login input[type="password"] {
    width: 84%;
}

#login-page button {
  float: right;
  margin-right:5px;
  margin-top: 10px;
}

#login-page .modal-body {
  color:#333333;
}

/******************END LOGIN**********************/

ul {
    list-style: none;
}



.widget-header {
    background-color: #2C2C2C;
    border: 1px solid #D5D5D5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.widget-header h3 {
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    left: 10px;
    line-height: 18px;
    margin-right: 3em;
    position: relative;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    top: 2px;
}




.widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 5px 5px 5px 5px;
    padding: 20px 15px 15px;
}

.widget-content ul {
    margin-left: 0;
}

.widget-nopad .widget-content {
    padding: 0;
}

.news-items li {
    border-bottom: 1px dotted #CCCCCC;
    display: table;
    margin-bottom: 1em;
    padding-left: 5px;
    padding-top: 0;
}


.news-item-date {
    text-align: right;
    vertical-align: middle;
    width: 40px;
}

.news-item-day {
    color: #888888;
    display: block;
    font-size: 24px;
    margin-bottom: 0.25em;
}

.new-item-time{
    color: #888888;
    display: block;
    font-size:10px;
}

.news-item-date {
    text-align: left;
    float:left;
    padding-left: 10px;
    padding-top: 20px;
}

.news-item-month {
    color: #888888;
    display: block;
    font-size: 12px;
    font-weight: 600;
    padding-right: 1px;
}

.news-item-detail p{
}

.news-items li{
	width:98%;
}



#projecthome .row{
  padding: 20px 0px 40px 250px;
}

#projecthome .span4{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    background-color: #0074cc;
    *background-color: #0055cc;
    background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
    background-image: -o-linear-gradient(top, #0088cc, #0055cc);
    background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
    background-image: linear-gradient(top, #0088cc, #0055cc);
    background-repeat: repeat-x;
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-align: center;
    height: 200px;
    width: 200px;
}

#projecthome .span4:hover{
    background-image: -ms-linear-gradient(top, #0000cc, #0055cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0000cc), to(#0055cc));
    background-image: -webkit-linear-gradient(top, #0000cc, #0055cc);
    background-image: -o-linear-gradient(top, #0000cc, #0055cc);
    background-image: -moz-linear-gradient(top, #0000cc, #0055cc);
    background-image: linear-gradient(top, #0000cc, #0055cc);
    background-repeat: repeat-x;
    cursor:pointer;
}

#projecthome h2{
    color: #fefefe;
    margin-top: 40%;
}



.modal{
  width: 90%;
  left: 5%;
  margin:-250px 0 0 0;
} 
 
.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float: right;
  margin-right: 15px;
}

#newproject .btn{
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.75);
}

#newproject .dropdown-menu{
    display : inline;
}

#newproject select {
    width: 160px;
}

.newproject{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#btnnewproject li {
    text-align: center;
}

#formProject .fileupload .btn{
    max-width: 185px;
}



#createbacklog .span3{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    background-color: #0074cc;
    *background-color: #0055cc;
    background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
    background-image: -o-linear-gradient(top, #0088cc, #0055cc);
    background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
    background-image: linear-gradient(top, #0088cc, #0055cc);
    background-repeat: repeat-x;
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-align: center;
    vertical-align: middle;
    height: 70px;
    width: 70px;
}

#createbacklog .row-fluid{
    padding-top: 30px;
    vertical-align: middle;
}




/** USER STORIES **/
#userstories-list {
	list-style-type: none; 
	margin: 20px 0; 
	padding: 0; 
	background-color:#ddd;
}
#userstories-list > li {
	position:relative;
	margin:8px 10px;
	padding: 1px; 
	float: left; 
	width: 170px; 
	height: 130px;  
	text-align: center;
}
#userstories-list > li > a.edit {
	position:absolute;
	top:0;
	right:0;
	background-color:#eee;
	padding:0px 4px;
}
#userstories-list > li > div.title{
	text-align:center;
	font-weight:bold;
	padding:20px 4px 0; 
	height:60px;
}
#userstories-list > li > div.estimation-label{	
	position:absolute;
	bottom:0;
	right:50px;
	font-style:italic;
	font-size:0.9em;
}	
#userstories-list > li > div.estimation-value{	
	position:absolute;
	bottom:0;
	right:0;
	font-weight:bold;
	width:40px;
	height:20px;
	border:solid #bbb 1px;
	border-right:none;
	border-bottom:none;
	text-align:center;
}	

#formStory div.input-append{
	display:block;
}


/** Task **/

.addTask{
  margin-left:10px;
}

.formTask .controls .estimation{
  margin-left:10px;
}

#taskList .btn-primary{
  margin-left:10px;
  width: 120px;
}

.btn-delete-task{
  margin-left:10px;

}

/**  **/

.new{
  margin-bottom: 10px;
}

/** SprintBoard **/
#sprintboard {
}
#sprintboard h3 {
	text-align:center;
	background-color:#fff;
	color:#444;
	margin-bottom:0;
}
#sprintboard > div{
	display:inline-block;
	width:30%;
	vertical-align:top;
	margin:0 0 0 3px;
}
#sprintboard div.odd{
	background-color:#efefef; /*#FAFAFA;*/
}
#sprintboard div.even{
	background-color:#f8f8f8;
}
#sprintboard div.userstory{
	height:200px;
	text-align:center;
}
#sprintboard div.userstory-title{
	font-weight:bold;
  display:block;
  margin-top:10px;
  padding:2px 5px 5px 5px;
  width:89.5%;
  color:white;
  background-color:#343537;
  border-radius: 0.3em 0.3em 0 0;
}
#sprintboard div.userstory-title a{
  color:white;
  width:95%;
}
#sprintboard div.userstory-title a:hover{
  text-decoration:none;
}
#sprintboard div.userstory-title a i {
  float:right;
  margin-top:4px;
  margin-right:5px;
}
#sprintboard ul {
	display:block;
	top:10px;
	clear:both;
	border:0;
	margin:20px auto;
	height:200px;
	width:80%
	background-color:transparent;
}
#sprintboard li.task{
	position:relative;
	margin:2px 3px;
	padding: 1px 4px; 
	float: left; 
	width: 77px; 
	height: 75px;  
	text-align: left;
  font-size: 11px;
  line-height:15px;
	background-color:#F3F781;
  overflow:hidden;
}
#sprintboard li.task div.task-assignation{
  position:absolute;
  bottom:0;
  left:5px;
  font-size:0.8em;
  font-weight:bold;
}


/*****************SPRINT LIST********************/

#sprintList h2 {
  margin-bottom: 30px;
  margin-top: 0;
}

#sprintList .accordion-group {
  margin-bottom: 50px;
}


#sprintList .accordion-heading .accordion-toggle {
  background-color: #343537;
  color: white;
  border-radius: 0.3em 0.3em 0 0;
}

#sprintList .row-fluid{
  margin-top: 10px;
}

#sprintList div.sprint-title{
  font-weight:bold;
  background-color:#343537;
  border-radius: 0.3em 0.3em 0 0;
  display: block;
  padding: 8px 15px;
}

#sprintList div.sprint-title a{
  color:white;
}

#sprintList div.sprint-title a:hover{
  text-decoration: none;
}

#sprint-infos .span2{
  text-align: center;
  background-color: #EEEEEE;
}

#sprintList .span2{
  text-align: center;
  background-color: #EEEEEE;
}

#sprintList .sprints{
  margin-top: 10px;
}


/*********************** SPRINT ******************************/
#formSprint .datepicker{
  cursor: pointer;
}


/****************** SprintStory *****************************/
.notAdd {
  background-color: red;

}

#userstories-list > li.notAdd{
  background-color: white;
}

#userstories-list > li.add{
  background-color: #3A87AD;
}

#story-sprint-manager{

}

#story-sprint-manager div.column1, #story-sprint-manager div.column2{
  display:inline-block;
  min-height:500px;
  width:400px;
}
#story-sprint-manager div.column1{

}
#story-sprint-manager div.column2{

}

#story-sprint-manager div.column1 h3, #story-sprint-manager div.column2 h3{
  font-size:1.2em;
  font-weight:bold;
  display:block;
  margin-top:10px;
  padding:2px 5px 5px 5px;
  width:97%;
  color:white;
  background-color:#343537;
  border-radius: 0.3em 0.3em 0 0;
}

#sortableNotSelected, #sortableSelected { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  float: left; 
  margin-right: 10px; 
  background: whiteSmoke; 
  padding: 5px; 
  width: 97%;
  min-height:100px;
}
#sortableNotSelected li, #sortableSelected li { 
  margin: 5px; 
  padding: 5px; 
  font-size: 1.2em;
}
#sortableNotSelected li.ui-state-default, #sortableSelected li.ui-state-default {
    background-color:white;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
}

